{% extends "base.html" %}

{% block title %}Welcome - Event RSVP{% endblock %}

{% block content %}
<div class="container" style="background-image: url('/static/images/mask.jpg');background-size: cover;">
    <div class="hero">
        <h1>Masquerade Awards</h1>
        <h2 style="color: #f8f8f8; font-size: 2rem; margin-bottom: 1rem; font-style: italic;">&</h2>
        <h2 style="color: #f8f8f8; font-size: 2rem; margin-bottom: 1rem; font-style: italic;">Year End Ceremony</h2>
        <p style="color: #d4af37; font-size: 1.1rem; margin-bottom: 1rem; font-style: italic;">Let your mask conceal your identity and your style reveal your spirit.</p>        
        <a href="{{ url_for('rsvp') }}" class="btn btn-primary">RSVP Now</a>
       
    </div>
    
    <div class="event-details">
        <h2 style="color: #f8f8f8;">Event Details</h2>
        
        <div class="details-grid">
            <div class="detail">
                <h3>Date & Time</h3>
                <p>December 4, 2025<br>6:00 PM - Midnight</p>
            </div>
            <div class="detail">
                <h3>Presented By</h3>
                <img style="width: 200px;" src="/static/images/harcourts-logo.png"/>
            </div>
            <div class="detail">
                <h3>Dress Code</h3>
                <p>Black Tie & Masked Glamour<br><em>Masquerade masks required</em></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}